/* Charset */
/* Normalize and font */
@import url("https://necolas.github.io/normalize.css/8.0.1/normalize.css");
@import url("https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
html {
  font-size: 1.25em;
  box-sizing: border-box;
  font-family: "Raleway", "Arial", sans-serif;
  line-height: 1.4;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

p {
  margin: 0;
}

h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
  color: #FFFFFF;
  font-family: "Gloria Hallelujah";
  font-weight: normal;
}

h1 {
  font-size: 1.6rem;
}

h2 {
  font-size: 1.4rem;
}

img {
  width: 100%;
  height: auto;
}

header, footer {
  background: #985F6F;
  color: #FFFFFF;
}

header {
  display: grid;
  justify-items: center;
  align-items: center;
  padding: 16px;
}

main {
  display: grid;
  background-image: url(../images/paw-background.png);
  align-content: center;
  justify-content: center;
}

footer {
  display: grid;
  justify-items: center;
  align-items: center;
  padding: 16px;
}

.game-image {
  max-width: 175px;
}

.keyboard-button {
  border: 2px solid #985F6F;
  background-color: #FFC0CB;
  border-radius: 8px;
  color: #985F6F;
  font-weight: bold;
  width: 36px;
  height: 36px;
  margin: 4px;
}

.try-again, .change-difficulty {
  border: 2px solid #985F6F;
  background-color: #FFC0CB;
  border-radius: 8px;
  color: #985F6F;
  font-weight: bold;
  margin: 8px;
}

.keyboard-button:hover, .try-again:hover, .change-difficulty:hover {
  border: 2px solid #16697A;
  background-color: #B5D8E1;
  color: #16697A;
}

.keyboard-button:active, .try-again:active, .change-difficulty:active {
  background-color: #FFEEA3;
}

.story-container {
  position: absolute;
  background-color: #FFFFFF;
  border-radius: 8px;
  border: 8px solid #489FB5;
  padding: 16px;
  margin: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 400px;
}
.story-container h3 {
  color: #489FB5;
  font-size: 1rem;
}
.story-container img {
  max-width: 330px;
}
.story-container p {
  color: #489FB5;
  font-size: 0.8rem;
  padding-top: 8px;
}

.intro-container {
  position: absolute;
  height: 100vh;
  width: 100vw;
}

.outro-container {
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: -1;
}

.outro-container-displayed {
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 2;
}

#wrapper {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

#game-section {
  z-index: 100;
  display: none;
  background-color: #FFFFFF;
  border-radius: 8px;
  border: 8px solid #985F6F;
  margin: 24px;
  padding: 0 16px 16px 16px;
  min-height: 70vh;
  min-width: 80vw;
}

#intro-pop {
  display: none;
  position: relative;
  width: 100%;
  height: 100%;
  place-items: center;
}

#outro-pop {
  display: none;
  position: relative;
  width: 100%;
  height: 100%;
  place-items: center;
}

#story-2 {
  display: none;
}

#story-3 {
  display: none;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
}
#story-3 :first-child {
  grid-area: 1/1/1/span 2;
}
#story-3 :nth-child(2) {
  grid-area: 2/1/2/span 2;
}
#story-3 :nth-child(5) {
  grid-area: 4/1/4/span 2;
}
#story-3 div {
  border: 2px solid #16697A;
  border-radius: 16px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#story-3 div:hover {
  border-color: #985F6F;
}
#story-3 div:hover p, #story-3 div:hover h3 {
  color: #985F6F;
}

#pair-img-div img {
  max-width: 200px;
}

#word-display-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#word-div {
  background-color: #FFFFFF;
  border-radius: 8px;
  border: 8px solid #16697A;
  padding: 16px;
  margin: 8px;
}
#word-div p {
  letter-spacing: 3px;
  font-size: 1.25rem;
  color: #985F6F;
}

#definition-div, #attempts-div {
  padding: 8px;
  color: #985F6F;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  place-items: center;
  font-size: 0.75rem;
}
#definition-div strong, #attempts-div strong {
  color: #16697A;
}

#img-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#warning-div {
  padding: 8px;
  color: #985F6F;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  place-items: center;
  font-size: 0.75rem;
}
#warning-div strong {
  color: #16697A;
}

@media (min-width: 400px) {
  #word-div p {
    font-size: 1.75rem;
  }
}
@media (min-width: 450px) {
  #word-div p {
    font-size: 2rem;
  }
}
@media (min-width: 550px) {
  #word-div p {
    font-size: 2.5rem;
  }
}
@media (min-width: 700px) {
  .keyboard-button {
    margin: auto;
  }
  #button-div {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto;
    gap: 8px;
    align-items: center;
    justify-content: center;
  }
  #definition-div p, #attempts-div p {
    font-size: 1rem;
  }
  #word-div p {
    font-size: 3rem;
  }
}
@media (min-width: 1000px) {
  .game-image {
    max-width: 250px;
  }
  #game-section {
    min-width: 70vw;
  }
}
@media (min-width: 1200px) {
  #game-section {
    min-width: 60vw;
  }
}